{%extends "base.html" %}

{%block content%}

<div class="d-flex flex-wrap justify-content-center mt-5 gap-3  px-2">
{%for task in data%}

    <div class="card col-sm-3">
        <div class="card-body">
          <h5 class="card-title">{{task.taskTitle}}</h5>
          <p class="card-text">{{task.taskDescription}}</p>
          <p>
            {%for cat in task.category.all%}
            <button type="button" class="btn btn-sm btn-warning m-2" disabled>{{cat.categoryName}}</button>
            {%endfor%} 
          </p>
          {%if task.is_completed%}
            <p class="btn btn-success">Completed</p>
          {% else %}
            <a href="{%url 'edit_task' task.id%}" class="btn btn-warning">Edit</a>
            <a href="{%url 'delete_task' task.id%}" class="btn btn-danger">Delete</a>
          {%endif%}
        </div>
      </div>
      
      {%endfor%}
    </div>

{%endblock%}